{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body data-room-id="{{ room_id }}">
    <div class="container">
        <form id="videoForm">
            <label for="videoUrl">Сюда ссылку на видео давай</label>
            <input type="url" id="videoUrl" name="videoUrl" placeholder="https://example.com/video">

            <label for="videoFile">Или загрузите свое видео</label>
            <input type="file" name="videoFile" id="videoFile" accept="video/*">

            <button type="button" id="sendVideoButton">Podelitca</button>
        </form>

        <div id="videoPlayerContainer">
            <video id="videoPlayer" controls muted width="560" height="315" ></video>
        </div>

        <div id="iframePlayerContainer" style="display: none;">
            <iframe id="iframePlayer" width="560" height="315" ></iframe>
        </div>

    </div>

    <p class="chat" id="{{ chat_id }}">
        <h2>Chat Room {{ chat_id }}</h2>
        <textarea id="chat-log" cols="100" rows="20" readonly>{% for message in messages  %}
{{ message.user_id__username }}: {{message.message}}{% endfor %}
</textarea>
        <input type="hidden" id="username" value="{{ username }}@{{ user_id }}">
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
    </p>

    <script type="module" src="{% static 'js/chat/chat.js' %}"></script>
    <script type="module" src="{% static 'js/chat/action.js' %}"></script>
</body>
</html>
