{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        #drop-area {
            width: 640px;
            height: 480px;
            border: 2px dashed #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
        }
    </style>
</head>
<body data-room-id="{{ room_id }}">
    <form id="videoForm">
        <label for="videoUrl">Сюда ссылку на видео давай</label>
        <input type="url" id="videoUrl" name="videoUrl" required placeholder="https://example.com/video">
        <button type="button" id="sendVideoButton" >найти</button>
    </form>

    <p class="chat" id="{{ chat_id }}">
        <h2>Chat Room {{ chat_id }}</h2>
        <textarea id="chat-log" cols="100" rows="20" readonly>{% for message in messages  %}
{{ message.user_id__username }}: {{message.message}}{% endfor %}
</textarea>
        <input type="hidden" id="username" value="{{ username }}@{{ user_id }}">
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
    </p>

    <iframe src="" id="videoPlayer" width="640" height="480"></iframe>

    <script src="{% static 'js/chat/chat.js' %}"></script>
    <script src="{% static 'js/chat/action.js' %}"></script>
</body>
</html>
