{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3d7dc37153.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'room/styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">

    <title>Room Main Page</title>
</head>
<body class="body">

    <div class="main">

        <header>
            <div class="logo">
                <img src="{% static 'images/photo_2024-12-11_08-32-33.jpg' %}" alt="">
            </div>

            <div class="join_room">
                    <input class="for_link" id="join_link" type="url" placeholder="Место для ссылки на комнату"><br>
                    <button id="redirectButton"><i class="fa-solid fa-arrow-right-to-bracket" style="color: #dedede;"></i></button>

            </div>
        </header>

        <div class="main-action">
            <div class="action-box">
                <p>Проводите время вместе даже на расстоянии</p>

                 <form method="POST">
                    {%csrf_token%}
                    <button type="submit">Создать комнату</button>
                 </form>

            </div>

        </div>


        <div class="about-as">

        </div>

    </div>



<script src="{% static 'js/rooms/room.js' %}"></script>



</body>
</html>




